html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}


/* index.html */
.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	background-color: #070217;
}

.logo {
	display: inline-block;
	margin-bottom: 50px;
}

.links {
	margin-bottom: 50px;
	font-size: 18px;
	font-weight: 700;
}

.link {
	display: inline-block;
	padding: 24px 49px;
	background-color: #3f2aff;
	font-size: 18px;
	font-weight: 700;
}

.link:not(:last-child) {
	margin-right: 25px;
}

.link-download {
	width: 250px;
	background-image: url("../img/download.png");
	background-repeat: no-repeat;
	background-position: left;
	color: #3f2aff;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}



/* article.html */
.container {
	margin: 0 auto;
	padding: 80px 0;
	width: 1170px;
}

.h1-title,
.h2-title,
.h3-title,
.text,
.list {
	margin-top: 0;
}

.h1-title {
	margin-bottom: 40px;
	color: #333;
	font-weight: 400;
	font-size: 60px;
	line-height: 60px;
}

.h2-title {
	color: #333;
	font-size: 40px;
	line-height: 46px;
}

.h3-title {
	color: #333;
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;
}

.h2-title,
.h3-title {
	margin-bottom: 10px;
}

.text {
	width: 872px;
	margin-bottom: 40px;
	color: #333;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
}

.text-accent {
	width: 100%;
	padding: 50px 95px;
	border-radius: 20px;
	background-color: #3f2aff;
	color: white;
	font-weight: 700;
	font-size: 30px;
}

.gray-box {
	border-radius: 20px;
	padding: 30px;
	background-color: #f3f3f3;
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}

.gray-box-bg {
	background-image: url("../img/decorate-1.png");
}

.gray-box-bg2 {
	background-image: url("../img/decorate-2.png");
}

.gray-box:not(:last-child) {
	margin-bottom: 40px;
}

.gray-box .text {
	width: 692px;
	margin-bottom: 10px;
}

.list {
	padding-left: 15px;
}

.list-item::marker {
	color: #3f2aff;
}

.list-item a {
	border-bottom: 1px solid #3f2aff;
	color: #3f2aff;
	font-size: 20px;
}

.list-item:not(:last-child) {
	margin-bottom: 20px;
}

.image {
	margin-bottom: 40px;
}

.figure {
	display: inline-block;
	margin: 0;
	margin-bottom: 40px;
	width: 872px;
	font-size: 0;
}

.figure figcaption {
	padding: 19px 0;
	border: 1px solid #b6b6b6;
	border-top: none;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}





/* Modules */
.container-modules {
	width: 1170px;
	padding: 50px 0;
	margin: 0 auto;
}

.logo_skillbox {
	margin-bottom: 25px;
}

.link-back {
	display: inline-block;
	width: 160px;
	margin-bottom: 25px;
	background-image: url("/img/Arrow-left.svg");
	background-repeat: no-repeat;
	background-position: left;
	color: #3F2AFF;
	font-size: 20px;
	text-align: right;
}

.title-modules_h1 {
	margin-top: 0;
	margin-bottom: 50px;
	color: #3F2AFF;
	font-size: 60px;
}

.list-card {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	padding-left: 0;
	margin-bottom: 50px;
	list-style: none;
}

.list-card_item {
	height: 505px;
	position: relative;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

.list-card_item img {
	margin-bottom: 25px;
}

.item_inner {
	padding: 0 25px;
}

.title-modules_h2 {
	margin-top: 0;
	margin-bottom: 2px;
	/*ну вообще не знаю. как то странно что их 2*/
	color: #3F2AFF;
	font-size: 40px;
}

.list-themes {
	padding-left: 0;
	list-style: none;
	font-size: 20px;
	font-weight: 400;
	line-height: 165%;
}

.module-number {
	margin: 0;
	position: absolute;
	left: 502px;
	bottom: 25px;
	color: #EAEAEA;
	font-size: 40px;
}

.btn_seemore {
	display: block;
	padding: 25px 76px;
	margin: 0 auto;
	background-color: white;
	border: 2px solid #3F2AFF;
	color: #3F2AFF;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}
